.cards__like-icon {
    background-image: url(../../../vendor/images/like_icon.svg);
    min-width: 22px;
    min-height: 19px;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
    transition: opacity .5s ease;
}

.cards__like-icon:hover {
    opacity: .5;
}

@media screen {
    .cards__like-icon {
        margin-bottom: 5px;
    }
}