.cards__delete-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../vendor/images/delete-card-btn.svg);
    min-width: 18px;
    min-height: 19px;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    align-self: center;
    transition: opacity .5s ease;
}

.cards__delete-icon:hover {
    opacity: .5;
}