.profile__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "name edit-button"
    "activity activity";
    padding-left: 30px;
    align-items: baseline;
}

@media (max-width: 1060px) {
    .profile__info {
        display: grid;
        grid-template-columns: 189px;
        grid-template-rows: auto;
        grid-template-areas: 
        "name edit-button"
        "activity edit-button";
        padding-left: 27px;
        padding-top: 26px;
        justify-items: center;
    }
}