.cards__like-icon_status_disabled {
    background-image: url(../../../../vendor/images/like_icon.svg);
    transition: opacity .5s ease;
}

.cards__like-icon_status_disabled:hover {
    opacity: .5;
}